/*  your css code here. If applicable */
nav {
	background-color: rgb(211,211,211);
	padding: 10px; 
 }
nav ul{
		list-style: none ;
}
nav ul li{
	display: flex;
	margin-right: 1rem;
}

        
        